.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 0;
    align-items: center;
    padding: 30px;
}

.heading {
    font-weight: 500;
    font-size: 2.1rem;
}

.toolbar {
    width: 100%;
    display: flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.colors {
    display: flex;
    gap: 20px;
    padding: 0 30px;
}

.colors .color{
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: blue;
}

.colors .active{
    border: 2px solid #000;
}

.toolbar button {
    padding: 8px 16px;
    border-radius: 5px;
    text-align: center;
    background-color: #5f44b0;
    color: #fff;
    outline:  none;
    border: none;
    font-size: 1rem;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.toolbar button svg{
    height:20px;
    width:20px;
}

.main{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
}